# Laravel
/vendor/
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
.env.*.local
.env.backup
.env.production
Homestead.yaml
Homestead.json
.phpunit.result.cache
/storage/pail
/storage/framework/cache/*
/storage/framework/views/*

# Node.js/Vue.js
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
/public/build
.next/
.nuxt/
dist/
.yarn/
.yarn-integrity
*.tgz
.lock-wscript
.eslintcache
.stylelintcache
.parcel-cache
.cache/
coverage/
.nyc_output
*.lcov

# Logs
logs/
*.log
lerna-debug.log*

# IDE/Editor
.vscode/
.idea/
.phpactor.json

# System
.DS_Store
*.swp
*.swo

# Otros
/serverless/
.dynamodb/
.vscode-test/